<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach(function(msg){ %>
      <div>
        <h3><%= msg.user %></h3>
        <p> <%= msg.text %> </p>
        <p> <%= msg.added %> </p>
      </div>
      <% }) %>
      <a href="/new"><button href="/new">Create new post</button></a>
  </body>
</html>