<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="flex">
    <h1><%= title %></h1>
    <% messages.forEach(function(msg){ %>
      <div>
        <h3><%= msg.user %></h3>
        <p> <%= msg.text %> </p>
        <p> <%= msg.added %> </p>
      </div>
      <% }) %>
      <a href="/new"><button class="btn" href="/new">Create new post</button></a>

      <footer>
        <a href="https://github.com/Zirafnik/mini-message-board" target="_blank">
          <p>Zirafnik GitHub</p>
        </a>
      </footer>
  </body>
</html>